In [1]:
#covid19 data ETL process
import pandas as pd 
import numpy as np

In [2]:
country_codeQS = pd.read_csv("CountryCodeQS.csv")
country_codeQS.head()

          Country Alpha-2 code Alpha-3 code  Numeric code  Latitude  Longitude
0     Afghanistan           AF          AFG             4   33.0000       65.0
1         Albania           AL          ALB             8   41.0000       20.0
2         Algeria           DZ          DZA            12   28.0000        3.0
3  American Samoa           AS          ASM            16  -14.3333     -170.0
4         Andorra           AD          AND            20   42.5000        1.6

In [3]:
county_population = pd.read_csv("County_Population.csv")
county_population.head()

               Id   Id2   County    State  Population Estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [4]:
state_daily= pd.read_csv("states_daily.csv")
state_daily.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
state_daily.columns

Index(['date', 'state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResultsSource', 'totalTestResults', 'hospitalizedCurrently',
       'hospitalizedCumulative', 'inIcuCurrently', 'inIcuCumulative',
       'onVentilatorCurrently', 'onVentilatorCumulative', 'recovered',
       'lastUpdateEt', 'dateModified', 'checkTimeEt', 'death', 'hospitalized',
       'hospitalizedDischarged', 'dateChecked', 'totalTestsViral',
       'positiveTestsViral', 'negativeTestsViral', 'positiveCasesViral',
       'deathConfirmed', 'deathProbable', 'totalTestEncountersViral',
       'totalTestsPeopleViral', 'totalTestsAntibody', 'positiveTestsAntibody',
       'negativeTestsAntibody', 'totalTestsPeopleAntibody',
       'positiveTestsPeopleAntibody', 'negativeTestsPeopleAntibody',
       'totalTestsPeopleAntigen', 'positiveTestsPeopleAntigen',
       'totalTestsAntigen', 'positiveTestsAntigen', 'fips', 'positiveIncrease',
       'negativeIncrease', 'total', 'totalTestResultsIncrease', 'posNeg',
       'dataQualityGrade', 'deathIncrease', 'hospitalizedIncrease', 'hash',
       'commercialScore', 'negativeRegularScore', 'negativeScore',
       'positiveScore', 'score', 'grade'],
      dtype='object')

In [6]:
s= state_daily["totalTestResultsSource"].unique()
s

array(['totalTestsViral', 'totalTestsPeopleViral',
       'totalTestEncountersViral', 'posNeg'], dtype=object)

In [7]:
us_country= pd.read_csv("us_county.csv..fdde7e2b")
us_country.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

In [8]:
us_country.dtypes

date       object
county     object
state      object
fips      float64
cases     float64
deaths    float64
dtype: object

In [9]:
us_daily= pd.read_csv("us_daily.csv")
us_daily.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,lastModified,recovered,total,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [10]:
us_daily.dtypes

date                          int64
states                        int64
positive                    float64
negative                    float64
pending                     float64
hospitalizedCurrently       float64
hospitalizedCumulative      float64
inIcuCurrently              float64
inIcuCumulative             float64
onVentilatorCurrently       float64
onVentilatorCumulative      float64
dateChecked                  object
death                       float64
hospitalized                float64
totalTestResults              int64
lastModified                 object
recovered                   float64
total                         int64
posNeg                        int64
deathIncrease                 int64
hospitalizedIncrease          int64
negativeIncrease              int64
positiveIncrease              int64
totalTestResultsIncrease      int64
hash                         object
dtype: object

In [11]:
#viewing the column names in us_daily dataframe 
us_daily.columns

Index(['date', 'states', 'positive', 'negative', 'pending',
       'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently',
       'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative',
       'dateChecked', 'death', 'hospitalized', 'totalTestResults',
       'lastModified', 'recovered', 'total', 'posNeg', 'deathIncrease',
       'hospitalizedIncrease', 'negativeIncrease', 'positiveIncrease',
       'totalTestResultsIncrease', 'hash'],
      dtype='object')

In [12]:
us_states= pd.read_csv("us_states.csv")
us_states.head()

         date       state  fips  cases  deaths
0  21/01/2020  Washington    53      1       0
1  22/01/2020  Washington    53      1       0
2  23/01/2020  Washington    53      1       0
3  24/01/2020    Illinois    17      1       0
4  24/01/2020  Washington    53      1       0

In [13]:
#joining tables
dimstate=pd.merge(county_population,us_states, left_on='State', right_on='state', how='left')

In [14]:
dimstate.head()

,Id,Id2,County,State,Population Estimate 2018,date,state,fips,cases,deaths
0,0500000US01001,1001,Autauga,Alabama,55601,13/03/2020,Alabama,1,6,0
1,0500000US01001,1001,Autauga,Alabama,55601,14/03/2020,Alabama,1,12,0
2,0500000US01001,1001,Autauga,Alabama,55601,15/03/2020,Alabama,1,23,0
3,0500000US01001,1001,Autauga,Alabama,55601,16/03/2020,Alabama,1,29,0
4,0500000US01001,1001,Autauga,Alabama,55601,17/03/2020,Alabama,1,39,0

In [15]:
#droping the columns we do not need 
dimstate = dimstate.drop(['Id','Id2','date','state','cases','deaths'],axis = 1)

In [16]:
#droping duplicates 
dimstate = dimstate.drop_duplicates()

In [17]:
dimstate.head()

      County    State  Population Estimate 2018  fips
0    Autauga  Alabama                     55601     1
58   Baldwin  Alabama                    218022     1
116  Barbour  Alabama                     24881     1
174     Bibb  Alabama                     22400     1
232   Blount  Alabama                     57840     1

In [18]:
#join dimstate dataframe to state_daily dataframe to get the state short code
dimstate=pd.merge(dimstate, state_daily, left_on='fips', right_on='fips', how='left')

In [19]:
dimstate.head()

,County,State,Population Estimate 2018,fips,date,state,positive,probableCases,negative,pending,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,Autauga,Alabama,55601,1,20210307,AL,499819,107742.0,1931711.0,NaN,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
1,Autauga,Alabama,55601,1,20210306,AL,499411,107594.0,1929624.0,NaN,...,NaN,27.0,0.0,c1fb261a8becffb73348cbfb26366aa005c4ce77,0.0,0.0,0.0,0.0,0.0,NaN
2,Autauga,Alabama,55601,1,20210305,AL,498887,107518.0,1924758.0,NaN,...,NaN,28.0,169.0,5789acffb29d541bdafc68570b05d49d8e08dc97,0.0,0.0,0.0,0.0,0.0,NaN
3,Autauga,Alabama,55601,1,20210304,AL,498076,107404.0,1920535.0,NaN,...,NaN,65.0,84.0,45b26555b46ec5f1a3ffcb116d0be102a0581a08,0.0,0.0,0.0,0.0,0.0,NaN
4,Autauga,Alabama,55601,1,20210303,AL,497154,107382.0,1915545.0,NaN,...,NaN,38.0,24.0,8f55732c81965a1c1dc1b4ef9f6645acfcdba89d,0.0,0.0,0.0,0.0,0.0,NaN

In [20]:
#to select only the columns we need
dimstate = dimstate[['County','State','Population Estimate 2018','fips','state']]

In [21]:
#to drop duplicates
dimstate = dimstate.drop_duplicates()
dimstate.head()

      County    State  Population Estimate 2018  fips state
0    Autauga  Alabama                     55601     1    AL
48   Baldwin  Alabama                    218022     1    AL
96   Barbour  Alabama                     24881     1    AL
144     Bibb  Alabama                     22400     1    AL
192   Blount  Alabama                     57840     1    AL

In [22]:
dimstate.rename(columns = {'Population Estimate 2018':'County_Population_Estimate','fips':'State_Id','state': 'State_short_code'},inplace=True)

In [23]:
dimstate = dimstate.reset_index()

In [24]:
dimstate.columns

Index(['index', 'County', 'State', 'County_Population_Estimate', 'State_Id',
       'State_short_code'],
      dtype='object')

In [25]:
dimstate.head()

,index,County,State,County_Population_Estimate,State_Id,State_short_code
0,0,Autauga,Alabama,55601,1,AL
1,48,Baldwin,Alabama,218022,1,AL
2,96,Barbour,Alabama,24881,1,AL
3,144,Bibb,Alabama,22400,1,AL
4,192,Blount,Alabama,57840,1,AL

In [26]:
dimstate = dimstate.drop("index", axis = 1)

In [27]:
dimstate.isna().sum()

County                        0
State                         0
County_Population_Estimate    0
State_Id                      0
State_short_code              0
dtype: int64

In [28]:
#loading the dataframe in the database
from sqlalchemy import create_engine
#type of database, username, password, host, port, database name                      
engine = create_engine('postgresql://postgres:Fruitful20.@localhost:5432/sbn2')

dimstate.to_sql('dimstate', engine,if_exists= 'replace')

In [29]:
#creating the fact table
state_daily.columns

Index(['date', 'state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResultsSource', 'totalTestResults', 'hospitalizedCurrently',
       'hospitalizedCumulative', 'inIcuCurrently', 'inIcuCumulative',
       'onVentilatorCurrently', 'onVentilatorCumulative', 'recovered',
       'lastUpdateEt', 'dateModified', 'checkTimeEt', 'death', 'hospitalized',
       'hospitalizedDischarged', 'dateChecked', 'totalTestsViral',
       'positiveTestsViral', 'negativeTestsViral', 'positiveCasesViral',
       'deathConfirmed', 'deathProbable', 'totalTestEncountersViral',
       'totalTestsPeopleViral', 'totalTestsAntibody', 'positiveTestsAntibody',
       'negativeTestsAntibody', 'totalTestsPeopleAntibody',
       'positiveTestsPeopleAntibody', 'negativeTestsPeopleAntibody',
       'totalTestsPeopleAntigen', 'positiveTestsPeopleAntigen',
       'totalTestsAntigen', 'positiveTestsAntigen', 'fips', 'positiveIncrease',
       'negativeIncrease', 'total', 'totalTestResultsIncrease', 'posNeg',
       'dataQualityGrade', 'deathIncrease', 'hospitalizedIncrease', 'hash',
       'commercialScore', 'negativeRegularScore', 'negativeScore',
       'positiveScore', 'score', 'grade'],
      dtype='object')

In [30]:
state_daily.dtypes

date                             int64
state                           object
positive                         int64
probableCases                  float64
negative                       float64
pending                        float64
totalTestResultsSource          object
totalTestResults                 int64
hospitalizedCurrently          float64
hospitalizedCumulative         float64
inIcuCurrently                 float64
inIcuCumulative                float64
onVentilatorCurrently          float64
onVentilatorCumulative         float64
recovered                      float64
lastUpdateEt                    object
dateModified                    object
checkTimeEt                     object
death                          float64
hospitalized                   float64
hospitalizedDischarged         float64
dateChecked                     object
totalTestsViral                float64
positiveTestsViral             float64
negativeTestsViral             float64
positiveCasesViral             float64
deathConfirmed                 float64
deathProbable                  float64
totalTestEncountersViral       float64
totalTestsPeopleViral          float64
totalTestsAntibody             float64
positiveTestsAntibody          float64
negativeTestsAntibody          float64
totalTestsPeopleAntibody       float64
positiveTestsPeopleAntibody    float64
negativeTestsPeopleAntibody    float64
totalTestsPeopleAntigen        float64
positiveTestsPeopleAntigen     float64
totalTestsAntigen              float64
positiveTestsAntigen           float64
fips                           float64
positiveIncrease               float64
negativeIncrease               float64
total                          float64
totalTestResultsIncrease       float64
posNeg                         float64
dataQualityGrade               float64
deathIncrease                  float64
hospitalizedIncrease           float64
hash                            object
commercialScore                float64
negativeRegularScore           float64
negativeScore                  float64
positiveScore                  float64
score                          float64
grade                          float64
dtype: object

In [31]:
#finding columns that are of string data type 
sel_cls = list(state_daily.select_dtypes(include='object'))
print(sel_cls)

['state', 'totalTestResultsSource', 'lastUpdateEt', 'dateModified', 'checkTimeEt', 'dateChecked', 'hash']

In [32]:
slf = state_daily[['date','dateChecked']]
print(slf)

          date           dateChecked
0     20210307  2021-03-05T03:59:00Z
1     20210307  2021-03-07T11:00:00Z
2     20210307  2021-03-07T00:00:00Z
3     20210307  2020-12-01T00:00:00Z
4     20210307  2021-03-07T00:00:00Z
...        ...                   ...
2680  20210119  2021-01-19T09:55:00Z
2681  20210119  2021-01-18T17:00:00Z
2682  20210119  2021-01-17T11:12:00Z
2683  20210119  2021-01-18T23:59:00Z
2684  20210119                   NaN

[2685 rows x 2 columns]

In [33]:
#pick the first ten elements, make up the year, month and date
state_daily['date_new'] = state_daily['dateChecked'].str[:10]
state_daily['date_new']

0       2021-03-05
1       2021-03-07
2       2021-03-07
3       2020-12-01
4       2021-03-07
           ...
2680    2021-01-19
2681    2021-01-18
2682    2021-01-17
2683    2021-01-18
2684           NaN
Name: date_new, Length: 2685, dtype: object

In [34]:
state_daily['date_new']= pd.to_datetime(state_daily['date_new'])
state_daily['date_new']

0      2021-03-05
1      2021-03-07
2      2021-03-07
3      2020-12-01
4      2021-03-07
          ...
2680   2021-01-19
2681   2021-01-18
2682   2021-01-17
2683   2021-01-18
2684          NaT
Name: date_new, Length: 2685, dtype: datetime64[ns]

In [35]:
date_table= state_daily[['date_new']]
date_table

       date_new
0    2021-03-05
1    2021-03-07
2    2021-03-07
3    2020-12-01
4    2021-03-07
...         ...
2680 2021-01-19
2681 2021-01-18
2682 2021-01-17
2683 2021-01-18
2684        NaT

[2685 rows x 1 columns]

In [38]:
state_daily['date_new']=pd.to_datetime(state_daily['date_new'])
min(state_daily['date_new'])

Timestamp('2020-02-18 00:00:00')

In [39]:
state_daily['date']=pd.to_datetime(state_daily['date'])
max(state_daily['date'])

Timestamp('1970-01-01 00:00:00.020210307')

In [40]:
state_daily.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade,date_new
0,1970-01-01 00:00:00.020210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-05
1,1970-01-01 00:00:00.020210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-07
2,1970-01-01 00:00:00.020210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-07
3,1970-01-01 00:00:00.020210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN,2020-12-01
4,1970-01-01 00:00:00.020210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN,2021-03-07

In [41]:
#droping columns we do not need in the fact table
state_daily = state_daily.drop(['date','hospitalizedCumulative','inIcuCumulative','onVentilatorCumulative','hash','commercialScore', 'negativeRegularScore', 'negativeScore',
       'positiveScore','grade','score','lastUpdateEt', 'dateModified', 'checkTimeEt'], axis =1)

In [42]:
state_daily.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,inIcuCurrently,onVentilatorCurrently,...,fips,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,dataQualityGrade,deathIncrease,hospitalizedIncrease,date_new
0,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,NaN,2.0,...,2.0,0.0,0.0,56886.0,0.0,56886.0,NaN,0.0,0.0,2021-03-05
1,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,NaN,NaN,...,1.0,408.0,2087.0,2431530.0,2347.0,2431530.0,NaN,-1.0,0.0,2021-03-07
2,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,141.0,65.0,...,5.0,165.0,3267.0,2805534.0,3380.0,2805534.0,NaN,22.0,11.0,2021-03-07
3,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,NaN,...,60.0,0.0,0.0,2140.0,0.0,2140.0,NaN,0.0,0.0,2020-12-01
4,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,273.0,143.0,...,4.0,1335.0,13678.0,3899464.0,45110.0,3899464.0,NaN,5.0,44.0,2021-03-07

In [43]:
#data cleaning process
#checking for null values 
state_daily.isna().sum()

state                             0
positive                          0
probableCases                   968
negative                       1007
pending                        2446
totalTestResultsSource            0
totalTestResults                  0
hospitalizedCurrently           144
inIcuCurrently                  672
onVentilatorCurrently          1151
recovered                      1056
death                             1
hospitalized                    864
hospitalizedDischarged         2253
dateChecked                      49
totalTestsViral                 679
positiveTestsViral             1362
negativeTestsViral             1890
positiveCasesViral              652
deathConfirmed                 1290
deathProbable                  1391
totalTestEncountersViral       2015
totalTestsPeopleViral          1391
totalTestsAntibody             1917
positiveTestsAntibody          2060
negativeTestsAntibody          2397
totalTestsPeopleAntibody       2301
positiveTestsPeopleAntibody    2493
negativeTestsPeopleAntibody    2541
totalTestsPeopleAntigen        2445
positiveTestsPeopleAntigen     2541
totalTestsAntigen              1731
positiveTestsAntigen           2091
fips                              1
positiveIncrease                  1
negativeIncrease                  1
total                             1
totalTestResultsIncrease          1
posNeg                            1
dataQualityGrade               2685
deathIncrease                     1
hospitalizedIncrease              1
date_new                         49
dtype: int64

In [44]:
state_daily.dtypes

state                                  object
positive                                int64
probableCases                         float64
negative                              float64
pending                               float64
totalTestResultsSource                 object
totalTestResults                        int64
hospitalizedCurrently                 float64
inIcuCurrently                        float64
onVentilatorCurrently                 float64
recovered                             float64
death                                 float64
hospitalized                          float64
hospitalizedDischarged                float64
dateChecked                            object
totalTestsViral                       float64
positiveTestsViral                    float64
negativeTestsViral                    float64
positiveCasesViral                    float64
deathConfirmed                        float64
deathProbable                         float64
totalTestEncountersViral              float64
totalTestsPeopleViral                 float64
totalTestsAntibody                    float64
positiveTestsAntibody                 float64
negativeTestsAntibody                 float64
totalTestsPeopleAntibody              float64
positiveTestsPeopleAntibody           float64
negativeTestsPeopleAntibody           float64
totalTestsPeopleAntigen               float64
positiveTestsPeopleAntigen            float64
totalTestsAntigen                     float64
positiveTestsAntigen                  float64
fips                                  float64
positiveIncrease                      float64
negativeIncrease                      float64
total                                 float64
totalTestResultsIncrease              float64
posNeg                                float64
dataQualityGrade                      float64
deathIncrease                         float64
hospitalizedIncrease                  float64
date_new                       datetime64[ns]
dtype: object

In [45]:
state_daily.describe()

,positive,probableCases,negative,pending,totalTestResults,hospitalizedCurrently,inIcuCurrently,onVentilatorCurrently,recovered,death,...,positiveTestsAntigen,fips,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,dataQualityGrade,deathIncrease,hospitalizedIncrease
count,2.685000e+03,1717.000000,1.678000e+03,239.000000,2.685000e+03,2541.000000,2013.000000,1534.000000,1.629000e+03,2684.000000,...,594.000000,2684.000000,2684.000000,2684.000000,2.684000e+03,2684.000000,2.684000e+03,0.0,2684.000000,2684.000000
mean,4.809597e+05,64311.486313,1.990236e+06,2255.410042,5.873080e+06,1443.471861,362.804769,156.320078,2.887552e+05,8261.361773,...,72306.035354,32.502981,1801.894933,4089.106930,1.725500e+06,28238.304396,1.725299e+06,NaN,46.478763,44.262295
std,6.021028e+05,76911.773015,2.180462e+06,3028.105451,8.040417e+06,2395.534570,642.259529,189.063507,3.987656e+05,10125.223645,...,53007.771226,18.903318,3022.475646,11348.820901,2.172070e+06,48276.140621,2.171474e+06,NaN,104.323927,113.099268
min,0.000000e+00,206.000000,2.140000e+03,11.000000,2.140000e+03,2.000000,1.000000,1.000000,2.900000e+01,0.000000,...,246.000000,1.000000,-9.000000,-33962.000000,2.140000e+03,-108866.000000,2.140000e+03,NaN,-174.000000,-916.000000
25%,9.883500e+04,11315.000000,3.140865e+05,99.000000,1.264939e+06,207.000000,49.000000,26.000000,5.164000e+04,1499.750000,...,27693.000000,17.000000,201.000000,0.000000,2.908050e+05,2870.500000,2.908050e+05,NaN,2.000000,0.000000
50%,3.152300e+05,38353.000000,1.360637e+06,250.000000,3.022306e+06,623.000000,176.000000,99.500000,1.366860e+05,4888.500000,...,65068.000000,31.000000,761.500000,0.000000,8.591945e+05,10994.500000,8.591945e+05,NaN,13.000000,3.000000
75%,6.101380e+05,96000.000000,2.826846e+06,4014.500000,6.889120e+06,1596.000000,386.000000,211.000000,3.897170e+05,10063.250000,...,108379.000000,46.000000,2057.750000,3588.750000,2.598819e+06,32495.500000,2.598819e+06,NaN,49.000000,57.000000
max,3.501394e+06,365961.000000,1.018694e+07,8544.000000,4.964601e+07,20942.000000,4793.000000,1049.000000,2.502609e+06,54124.000000,...,211546.000000,78.000000,31811.000000,185042.000000,1.125679e+07,403193.000000,1.124825e+07,NaN,2559.000000,3909.000000

In [46]:
state_daily.columns

Index(['state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResultsSource', 'totalTestResults', 'hospitalizedCurrently',
       'inIcuCurrently', 'onVentilatorCurrently', 'recovered', 'death',
       'hospitalized', 'hospitalizedDischarged', 'dateChecked',
       'totalTestsViral', 'positiveTestsViral', 'negativeTestsViral',
       'positiveCasesViral', 'deathConfirmed', 'deathProbable',
       'totalTestEncountersViral', 'totalTestsPeopleViral',
       'totalTestsAntibody', 'positiveTestsAntibody', 'negativeTestsAntibody',
       'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody',
       'negativeTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'positiveTestsPeopleAntigen', 'totalTestsAntigen',
       'positiveTestsAntigen', 'fips', 'positiveIncrease', 'negativeIncrease',
       'total', 'totalTestResultsIncrease', 'posNeg', 'dataQualityGrade',
       'deathIncrease', 'hospitalizedIncrease', 'date_new'],
      dtype='object')

In [47]:
#filling all null values in the numeric columns with Zero
col=['positive', 'probableCases', 'negative', 'pending',
        'totalTestResults', 'hospitalizedCurrently',
       'inIcuCurrently', 'onVentilatorCurrently', 'recovered', 'death',
       'hospitalized', 'hospitalizedDischarged',
       'totalTestsViral', 'positiveTestsViral', 'negativeTestsViral',
       'positiveCasesViral', 'deathConfirmed', 'deathProbable',
       'totalTestEncountersViral', 'totalTestsPeopleViral',
       'totalTestsAntibody', 'positiveTestsAntibody', 'negativeTestsAntibody',
       'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody',
       'negativeTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'positiveTestsPeopleAntigen', 'totalTestsAntigen',
       'positiveTestsAntigen','positiveIncrease', 'negativeIncrease',
       'total', 'totalTestResultsIncrease', 'posNeg', 'dataQualityGrade',
       'deathIncrease', 'hospitalizedIncrease']

for i in col:
        state_daily[i] = state_daily[i].fillna(0)

In [48]:
#replacing all missing date with 1990-01-01
state_daily['date_new'] = state_daily['date_new'].fillna('1990-01-01')

In [49]:
state_daily.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,inIcuCurrently,onVentilatorCurrently,...,fips,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,dataQualityGrade,deathIncrease,hospitalizedIncrease,date_new
0,AK,56886,0.0,0.0,0.0,totalTestsViral,1731628,33.0,0.0,2.0,...,2.0,0.0,0.0,56886.0,0.0,56886.0,0.0,0.0,0.0,2021-03-05
1,AL,499819,107742.0,1931711.0,0.0,totalTestsPeopleViral,2323788,494.0,0.0,0.0,...,1.0,408.0,2087.0,2431530.0,2347.0,2431530.0,0.0,-1.0,0.0,2021-03-07
2,AR,324818,69092.0,2480716.0,0.0,totalTestsViral,2736442,335.0,141.0,65.0,...,5.0,165.0,3267.0,2805534.0,3380.0,2805534.0,0.0,22.0,11.0,2021-03-07
3,AS,0,0.0,2140.0,0.0,totalTestsViral,2140,0.0,0.0,0.0,...,60.0,0.0,0.0,2140.0,0.0,2140.0,0.0,0.0,0.0,2020-12-01
4,AZ,826454,56519.0,3073010.0,0.0,totalTestsViral,7908105,963.0,273.0,143.0,...,4.0,1335.0,13678.0,3899464.0,45110.0,3899464.0,0.0,5.0,44.0,2021-03-07

In [50]:
state_daily.columns

Index(['state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResultsSource', 'totalTestResults', 'hospitalizedCurrently',
       'inIcuCurrently', 'onVentilatorCurrently', 'recovered', 'death',
       'hospitalized', 'hospitalizedDischarged', 'dateChecked',
       'totalTestsViral', 'positiveTestsViral', 'negativeTestsViral',
       'positiveCasesViral', 'deathConfirmed', 'deathProbable',
       'totalTestEncountersViral', 'totalTestsPeopleViral',
       'totalTestsAntibody', 'positiveTestsAntibody', 'negativeTestsAntibody',
       'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody',
       'negativeTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'positiveTestsPeopleAntigen', 'totalTestsAntigen',
       'positiveTestsAntigen', 'fips', 'positiveIncrease', 'negativeIncrease',
       'total', 'totalTestResultsIncrease', 'posNeg', 'dataQualityGrade',
       'deathIncrease', 'hospitalizedIncrease', 'date_new'],
      dtype='object')

In [51]:
fact_state_cases = state_daily[ ['fips','date_new','state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResultsSource', 'totalTestResults', 'hospitalizedCurrently',
       'inIcuCurrently', 'onVentilatorCurrently', 'recovered', 'death',
       'hospitalized', 'hospitalizedDischarged', 'dateChecked',
       'totalTestsViral', 'positiveTestsViral', 'negativeTestsViral',
       'positiveCasesViral', 'deathConfirmed', 'deathProbable',
       'totalTestEncountersViral', 'totalTestsPeopleViral',
       'totalTestsAntibody', 'positiveTestsAntibody', 'negativeTestsAntibody',
       'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody',
       'negativeTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'positiveTestsPeopleAntigen', 'totalTestsAntigen',
       'positiveTestsAntigen',  'positiveIncrease', 'negativeIncrease',
       'total', 'totalTestResultsIncrease', 'posNeg', 'dataQualityGrade',
       'deathIncrease', 'hospitalizedIncrease' ]]

In [52]:
fact_state_cases.head()

,fips,date_new,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,...,totalTestsAntigen,positiveTestsAntigen,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,dataQualityGrade,deathIncrease,hospitalizedIncrease
0,2.0,2021-03-05,AK,56886,0.0,0.0,0.0,totalTestsViral,1731628,33.0,...,0.0,0.0,0.0,0.0,56886.0,0.0,56886.0,0.0,0.0,0.0
1,1.0,2021-03-07,AL,499819,107742.0,1931711.0,0.0,totalTestsPeopleViral,2323788,494.0,...,0.0,0.0,408.0,2087.0,2431530.0,2347.0,2431530.0,0.0,-1.0,0.0
2,5.0,2021-03-07,AR,324818,69092.0,2480716.0,0.0,totalTestsViral,2736442,335.0,...,0.0,0.0,165.0,3267.0,2805534.0,3380.0,2805534.0,0.0,22.0,11.0
3,60.0,2020-12-01,AS,0,0.0,2140.0,0.0,totalTestsViral,2140,0.0,...,0.0,0.0,0.0,0.0,2140.0,0.0,2140.0,0.0,0.0,0.0
4,4.0,2021-03-07,AZ,826454,56519.0,3073010.0,0.0,totalTestsViral,7908105,963.0,...,0.0,0.0,1335.0,13678.0,3899464.0,45110.0,3899464.0,0.0,5.0,44.0

In [53]:
#loading the dataframe in the database
from sqlalchemy import create_engine
#type of database, username, password, host, port, database name                      
engine = create_engine('postgresql://postgres:Fruitful20.@localhost:5432/sbn2')

fact_state_cases.to_sql('dimstate', engine,if_exists= 'replace')